.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

.table th, .table td {
  border: 1px solid #d1d5db;
  padding: 0.5rem 0.75rem;
  text-align: center;
}

.table thead {
  background: #dcfce7;
  color: #065f46;
}

.table tbody tr:nth-child(even) {
  background: #f9fafb;
}

.table td.totale {
  font-weight: bold;
  color: #166534;
}
